*/.ipynb_checkpoints/*
/*/*/*/*/*/__pycache__/
/*/*/*/*/__pycache__/
/*/*/*/__pycache__/
/*/*/__pycache__/
/*/__pycache__/
/__pycache__/

.vscode/
*/.vscode/

*/*/*/*/weights/
!*/*/*/*/weights/.keep

